* {
    box-sizing: border-box;
  }

body,html{
    background: rgba(0,0,0,1) ;
    margin: 0px;
}

#dark_bar{
height:55px;
background-color: rgb(29, 29, 29);
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
}

#crescendoLogo{
    width: 800px;
    margin: auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#search_box{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: 14px;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px 20px;
}

#noProfile{
    width: 50px;
    height: 50px;
    float: right;
}

#profileHeader{
    width: 800px;
    min-height:400px;
    margin: auto;
    background-color: #93c788c0;
}

#profileHeader2{
    background-color: white;
    text-align: center;
    color: black;

}

#coverImage{
width: 100%;
}

#profile_pic{
    width: 150px;
    margin-top: -200px;
    border-radius: 50%;
    border: solid 2px white;
}

#menu_buttons{
    width:100px;
    display: inline-block;
    margin:2px;
}

#friends_img{
    width: 75px;
    height: 75px;
    float: left;
    margin: 8px; 
}

#friends_bar{
    background-color: rgb(118, 165, 118);
    min-height: 400px;
    margin-top: 20px;
padding: 8px;
}

#friends{
    clear: both;
    font-size: 12px;
    font-weight: bold;
}

textarea{
    width: 100%;
    border: none;
    font-size: 14px;
    height: 60px;
}

#post_button{
    float: right;
    background-color: rgb(18, 160, 73);
    border: none;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;
}

#post{
  padding: 4px;
  font-size: 13px;
  display: flex;
margin-bottom: 20px;
}

#post_bar{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}